.siswa {
    margin: 0;
    color: #F3F4F6;
    font-weight: 400;
    font-family: sans-serif;
    text-transform: capitalize;
    
    padding: 10px 15px;

}

#daftar-siswa {
    background-color: #747474;
}

p:hover {
    background-color: #E5E7EB;
    color: #111827;
}

