p {
    margin: 0;
    color: #F3F4F6;
    font-weight: 400;
    font-family: sans-serif;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.daftar-siswa {
    background-color: #747474;
}

p:hover {
    background-color: #E5E7EB;
    color: #111827;
}

